* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.card:hover .image-ovelay,
.card:hover .image-ovelay2 {
    opacity: 0.75!important;
    height: 100%;
    cursor: pointer;
}

.image-ovelay {
    height: 0;
    top: 0;
    transition: .5s ease;
}

.image-ovelay2 {
    height: 0;
    bottom: 0;
    transition: .5s ease;
}

.card {
    overflow: hidden;
}

.arrow-top {
    box-shadow: 0px 0px 4px 2px #583d3d;
    transition: all 0.5s ease-in;
}

.opacity-60 {
    opacity: .6;
}

@media (max-width: 768px) {
    .title2-content {
        font-size: 0.75rem!important;
    }
    .toggle-header {
        display: block!important;
    }
    #header {
        display: none
    }
}

@media (max-width: 300px) {
    .title2-content,
    p,
    span {
        font-size: 0.5rem!important;
    }
    .toggle-header {
        display: none;
    }
}